
<!DOCTYPE html>
<html>
    <head>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    
    </head>
    
    <body>
        
        <div><h1>Contact Us</h1>
        <div ><form action="" method="post">
        {% csrf_token %}
            <label>Your Name</label>
        {{form.name}}
            <br>
            <label>Your Email</label>
            {{form.email}}
            <br>
            <label>Contact</label>
            {{form.phone}}
            <br>
            <label>Description</label>
            {{form.Desc}}
            <br>
        
            <button type="submit" class="btn btn-success" id="add-btn" >Add</button>
            
        
        </form>
            </div>
        <div id="msg"></div>
        </div>
        <!--<script src="static/Scripts/main.js"></script>-->
    
    </body>


</html>